body {
  font-size: 18px;
  font-family: Curpum, Arial, sans-serif;
  line-height: 1.4;
  color: #000000;
  background: rgb(228,235,239)
}

.top-header-navigation {
  background: #33445a;
  width: 1280px;
  display: inline-block;
}

.brand-name {
  background: #ff5357;
  width: 220px;
  text-align: center;
  padding: 10px;
  color: #ffffff;
  font-size: 24px;
  text-transform: uppercase;
}

.search-form {
  background-color: #293449;
  color: #ffffff;
}

.make-order {
  background: #6db254;
  padding: 10px 15px;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

.discription-title {
  color: rgb(255, 83, 87);
  font-style: italic;
}

.service-number {
  color: rgb(251, 70, 60);
  border: 2px solid #ffffff;
  padding: 5px 55px;
  font-size: 21px;
}

.adress-header {
  font-size: 14px;
  color: rgb(61, 84, 110);
}

.registarion-form,
.login-form {
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  padding: 5px 30px;
}

.middle-navigation {
  background-color: #3d546e;
  list-style: none;
}

.items-block {
  color: #ffffff;
}

.popular-items-promo {
 list-style: none;
}

.promo-block-yellow {
  background-color: #ffbf47;
}

.promo-block-blue {
  background-color: #3bbce3;
}

.promo-block-purple {
  background-color: #dc91d8;
}

.promo-block-green {
  background-color: #8ed78f;
}

.button-promo-block {
  width: 135px;
  padding: 10px 15px;
  background-color: rgba(229, 172, 64, 0.2);
  text-decoration: none;
  border-radius: 3px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
}

.open-catalog-slider {
  display: block;
  background-color: #ff5357;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 14px;
  text-decoration: none;
  width: 195px;
  text-align: center;
  text-transform: uppercase;
}

.slider-uppercase {
  text-transform: uppercase;
  font-size: 36px;
}

.popular-item {
  background: rgb(249, 245, 240);
}

.all-popular-items {
  background-color: #ff5357;
  padding: 10px 40px;
  width: 253px;
  color: #ffffff;
  text-decoration: none;
  border-radius: 3px;
}

.old-price {
  text-decoration: line-through;
  color: rgb(169, 169, 169);
  font-weight: bold;
}

.new-price {
  background-color: #ee3643;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 10px 30px;
}

.item-card-title a {
  color: #000000;
  text-decoration: none;
}

.popular-manufacturer {
  background-color: rgb(249, 245, 240);
}

.uppercase {
  font-size: 30px;
  color: rgb(61, 84, 110);
  text-transform: uppercase;
}

.allmanufactures {
  color: #ffffff;
  background-color: #ff5357;
  text-decoration: none;
  padding: 10px 80px;
  font-size: 14px;
}

.pop-manufacturers-promo {
 list-style: none;
}

 .services-h3 {
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.services-p {
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.slider-features {
  font-size: 30px;
  color: rgb(61, 84, 110);
}

.slider-btn {
  display: block;
  padding: 15px 20px;
  background-color: #3d546e;
  color: #ffffff;
  width: 240px;
  text-align: left;
}

.slider-btn:nth-child(2) {
  border-bottom: 0.5px solid black;
}

.credit-deal {
  background-color: #ff5357;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 40px;
  width: 195px;
  text-transform: uppercase;
}




.slider-features-p {
  font-size: 14px;
}

.about-company {
  background-color: #ffffff;
}

.about-companyh3 {
  font-size: 20px;
  text-transform: uppercase;
}

.about-company-p {
  font-size: 14px;
}

.btn-about-company {
  background-color: #ff5357;
  color: #ffffff;
  padding: 10px 40px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 3px;
}

.btn-lost {
  width: 300px;
  padding: 10px 54px;
  background-color: #ff5357;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  border-radius: 3px;
}

.block-footer1 {
  background-color: #3d546e;
  color: #ffffff;
}

.brand-name-footer {
  font-size: 30px;
  padding: 10px 20px;
  background-color: #ff5357;
  width: 220px;
  text-align: center;
  box-shadow: 0 3px 0 1px #b52933;
  text-transform: uppercase;
}

.footer-nav-block {
  list-style: none;
}

.white-text {
  color: #ffffff;
  text-decoration: none;
}

.yellow-text {
  color: rgb(255, 218, 150);
  text-decoration: none;
}

.footer-social {
  background-color: #33445a;
  color: #ffffff;
  font-size: 16px;
}

.social-buttons {
  list-style: none;
}

.social-button {
  color: #ffffff;
  text-decoration: none;
}

.yellow-color {
  text-decoration: none;
  color: rgb(255, 218, 150);
}

.btn_copy_4 {
  background-image: url("btn copy 4.png");
  opacity: 0;
  position: absolute;
  left: 793px;
  top: 728px;
  width: 135px;
  height: 38px;
  z-index: 162;
}


.user-interface {
  list-style: none;
}

 .user-interface-icon {
  width: 299px;
  background-color: #ffffff;
  color: #000000;
  padding: 5px 35px;
  font-size: 21px;
}

.user {
  font-size: 16px;
  color: rgb(61, 84, 110);
  text-decoration: underline;
}

.breadcrumbs-navigation {
  list-style: none;
}

.dec-item {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
}

.submain-container{
  background-color: #ffffff;
}

.perforators-list {
  width: 940px;
  background-color: #f2f6f8;
  padding: 20px 25px;
}

.perforator-h2 {
  text-transform: uppercase;
  color: rgb(61, 84, 110);
  font-size: 30px;
}

 .filter-background {
  width: 220px;
  background-color: #f7f3ec;
}

.filter-dec {
  font-size: 13px;
  text-transform: uppercase;
  padding: 10px 15px;
}

.range-dec {
  background-color: #f7f3ec;
  width: 220px;
}

.renge-output {
  background-color: #f7f3ec;
  width: 95px;
  text-align: center;
}

.fieldset-checkbox {
  text-decoration: none;
}

.button-show {
  border-radius: 2px;
}

.sort-item {
  font-size: 13px;
  text-transform: uppercase;
}

.price-item,
.type-item,
.function-item {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.302);
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dotted;
}

.item-card-ul {
  list-style: none;
}

.btn-buy {
  background-color: #63a63e;
  color: #ffffff;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  box-shadow: 0 4px 2px 0 #367315;
}

.to-bookmarks {
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  padding: 8px 23px;
  color: rgb(50, 66, 92);
  box-shadow: 0 0 0 3px #63a63e;
}

.modal-icon-buy {
  background-color: #ffffff;
  width: 699px;
  min-height: 361px;
}

.item-oncart {
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 30px;
}

.take-order {
  background-color: rgba(241, 241, 241, 0.75);
  min-height: 112px;
  text-align: center;
}

.make-purchase {
  width: 220px;
  padding: 10px 60px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ee3643;
  color: #ffffff;
}

.continued-shopping {
  width: 220px;
  padding: 10px 60px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination-icon {
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #e5e5e5;
  color: #000000;
  padding: 8px 10px;
  font-size: 13px;
  
}

.pagination-text {
  padding: 8px 18px;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border: 2px solid #e5e5e5;
}

.perforator-h3 {
  font-size: 24px;
  text-transform: uppercase;
}

.perforator-p {
  font-size: 13px;
}

.footer-up {
  background-color: #32425c;
  color: #ffffff;
}

.brand-catalog-footer a {
  text-decoration: none;
  background-color: #ee3643;
  font-size: 30px;
  box-shadow: 0 3px 0 1px #b52933;
  padding: 10px 20px;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-down-social {
  background-color: #293449;
  color: #ffffff;
}


  


































