body {
  font-size: 18px;
  font-family: Curpum, Arial, sans-serif;
  line-height: 1.4;
  color: #000000;
  background: rgb(228,235,239)
}

.top-header-navigation {
  background: #33445a;
  width: 1280px;
  display: inline-block;
}

.brand-name {
  background: #ff5357;
  width: 220px;
  text-align: center;
  padding: 10px;
  color: #ffffff;
  font-size: 24px;
}

.search-form {
  background-color: #293449;
  color: #ffffff;
}

.make-order {
  background: #6db254;
  padding: 10px 15px;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

.discription-title {
  color: rgb(255, 83, 87);
  font-style: italic;
}

.service-number {
  color: rgb(251, 70, 60);
  border: 2px solid #ffffff;
  padding: 5px 55px;
  font-size: 21px;
}

.adress-header {
  font-size: 14px;
  color: rgb(61, 84, 110);
}

.registarion-form,
.login-form {
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  padding: 5px 30px;
}

.middle-navigation {
  background-color: #3d546e;
  list-style: none;
}

.items-block {
  color: #ffffff;
}

.promo-block-yellow {
  background-color: #ffbf47;
}

.promo-block-blue {
  background-color: #3bbce3;
}

.promo-block-purple {
  background-color: #dc91d8;
}

.promo-block-green {
  background-color: #8ed78f;
}

.slide-header-block1 {
  
}

.open-catalog-slider {
  background-color: #ff5357;
  color: #ffffff;
  padding 10px 15px;
  border-radius: 2px;
  display: block;
  font-size: 14px;
  text-decoration: none;
  
}




